<%#
  Copyright 2020 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<p>
  <% if @details.count == 1 %>
    Kia Ora <%= @details.first %>!
  <% else %>
    Kia Ora!
  <% end %>
</p>

<p>
  Hello eligible Hugo nominator! The deadline for Hugo nominations is just about
  3 days away. Please do not wait until the last minute to start your nominations
  - sometimes there are hiccups in the login process, and it can take our team
  some time to fix those for you. So if you plan to nominate and have not logged
  in and accessed the nomination form yet, please do so ASAP. The deadline for
  nominations is 13 March 2020 at 11:59pm Pacific Daylight Time (2:59 am Eastern
  Daylight Time, 06:59 Irish time, and 8:59 pm 14 March 2020 New Zealand time).
</p>

<p>
  To nominate online, please visit
  <a href="https://members.conzealand.nz">members.conzealand.nz</a>
  enter the email address
  you received this email at, and request a login link. After clicking the link
  and entering the members area, click on My Memberships to access all
  memberships linked with that email address. Then click the nominating links on
  your membership.
</p>

<p>
  You can make up to five nominations in each category. Be sure to hit the save
  button once you have made your nominations. You can save each category
  individually, or save them all at once using the button at the bottom of the
  ballot. You can make as many changes as you like to your nomination ballots
  until the deadline. Your current ballot will be emailed to you an hour after
  you stop making changes to it.
</p>

<p>
  We expect to announce the final ballot in early April, and the awards will be
  presented at CoNZealand, which will run from July 29 to August 2, 2020.
</p>

<p>
  The Hugo Awards are fan-run, fan-given, and fan-supported. We recommend that
  you nominate whatever works and creators you have personally read or seen that
  were your favorites from 2019 and 1944.
</p>

<p>
  Please contact hugohelp@conzealand.nz if you have difficulties accessing the
  online ballot(s), or you have any other questions on the Hugo process.
</p>

<p>
  A printable version of the WSFS Constitution and Hugo Nominating ballot has
  been included in the mailed-out version of Progress Report 2. You may also
  download a printable ballot in
  <a href="https://conzealand.nz/wp-content/uploads/2019/12/2020-Hugo-Nominations-Ballot-Printable.pdf">A4</a>,
  or
  <a href="https://conzealand.nz/wp-content/uploads/2019/12/2020-Hugo-Nominations-Ballot-Printable-US-Letter.pdf">US letter</a>
  sizes. The WSFS Constitution is also available online
  <a href="http://www.wsfs.org/wp-content/uploads/2019/11/WSFS-Constitution-as-of-August-19-2019.pdf">here</a>. 
</p>

<p>
  We look forward to your participation in the 2020 Hugo Awards and 1945 Retro
  Hugos, and hope to see you at CoNZealand!
</p>

<p>
  Tammy Coxen, Nicholas Whyte and Ian Moore<br>
  Hugo Administrator and Deputy Hugo Administrators
</p>
