<%#
  Copyright 2020 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h1>Alter Roles on The Fantasy Network for <%= @user.email %></h1>
<section class="l-section">
  <div class="row">
    <div class="col-12 col-md-6">
      <% if @gloo_contact.reservation.present? %>
        <%= render("reservation_card", reservation: @gloo_contact.reservation) do %>
          <p><%= link_to "Back to user page", operator_user_path(@user) %></p>
        <% end %>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <div class="l-panel">
        <p>
          Current state of this user
          <%= raw pretty_print(@gloo_contact.local_state) %>
        </p>

        <p>Set roles on this user</p>

        <ul class="list-unstyled l-v-spacing">
          <%= form_with(url: operator_user_the_fantasy_network_roles_path, data: { remote: false }) do |f| %>
            <% @current_roles.each do |(role_name, value)| %>
              <li>
                <%= f.check_box(role_name, checked: value) %>
                <%= role_name %>
              </li>
            <% end %>

            <p>
              <%= f.submit(
                "Update Roles on TFN",
                class: "btn btn-primary",
                data: { disable_with: "One moment caller..." }
              ) %>
            </p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
